/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */


h3, p{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: white;
    line-height: 30px;
    margin-bottom: 0px;
}

h3{
    font-size: 20px;
}

p{
    font-size: 13px;
    color: #121212;
    text-align: justify;
    letter-spacing: .5px;
}

.landing{
    padding-right: 0px;
    padding-left: 0px;
    background-image: url(../images/circleSectionBG.png);
    background-color: #f1e0c1;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: -ms-grid;
    display: grid;
    place-items: center;
    position: relative;
}

.commonCharacteristics{
    display: block;
    border-radius: 50%;
    display: -ms-grid;
    display: grid;
    place-items: center;
    position: absolute;
    cursor: pointer;
    -webkit-box-shadow: 0 0 10px #121212;
    box-shadow: 0 0 10px #121212;
    -webkit-transition: 250ms;
    -o-transition: 250ms;
    transition: 250ms;
}

img{
    position: absolute;
    top: 5%;
    left: 5%;
    opacity: .75;
    -webkit-transition: 500ms;
    -o-transition: 500ms;
    transition: 500ms;
}

img:hover{
    opacity: 1;
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
    cursor: pointer;
}
.cover{
    position: relative;
}
.textDiv{
    position: absolute;
    width: 50%;
    max-height: 100vh;
    padding: 30px;
    background-color: rgba(232,203,151,0.75);
    display: none;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-box-shadow: 0 0 20px grey;
    box-shadow: 0 0 20px grey;
    border-radius: 20px;
}

#c1{
    background-color: #836a5c;
    height: 12vh;
    width: 12vh;
    -webkit-box-shadow: 0 0 30px #836a5c;
    box-shadow: 0 0 30px #836a5c;
    /*    top: 64%;
        left: 60%;*/
    top: 65%;
    left: 61%;
    -webkit-animation: upDown 1s infinite alternate ease-in-out 450ms;
    animation: upDown 1s infinite alternate ease-in-out 450ms;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

#c1:hover{
    background-color: #69554a;
    -webkit-box-shadow: 0 0 30px #69554a;
            box-shadow: 0 0 30px #69554a;
}

.customForm{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.one, .two{
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}
.one{
    margin-right: 10px;
}
.two{
    margin-left: 10px;
}
input,
textarea{
    background-color: transparent;
    border: 1px solid #f1e0c1;
    width: 100%;
    margin: 10px;
}


::-webkit-input-placeholder{
    padding-left: 15px;
    color: white;
}


::-moz-placeholder{
    padding-left: 15px;
    color: white;
}


:-ms-input-placeholder{
    padding-left: 15px;
    color: white;
}


::-ms-input-placeholder{
    padding-left: 15px;
    color: white;
}


::placeholder{
    padding-left: 15px;
    color: white;
}

.submitBtn{
    background-color: rgba(245, 245, 245, 0.75);
    padding-top: 5px;
    padding-bottom: 5px;
    -webkit-transition: 250ms;
    -o-transition: 250ms;
    transition: 250ms;
}

#submitBtn:hover{
    background-color: rgba(245, 245, 245, 1);
    cursor: pointer;
}



#c2{
    background-color: #e9ab54;
    height: 16vh;
    width: 16vh;
    -webkit-box-shadow: 0 0 30px #e9ab54;
    box-shadow: 0 0 30px #e9ab54;
    /*    top: 32%;
        left: 63%;*/
    top: 32%;
    left: 70%;
    -webkit-animation: upDown 1s infinite alternate ease-in-out 900ms;
    animation: upDown 1s infinite alternate ease-in-out 900ms;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

#c2:hover{
    background-color: #e59b34;
    -webkit-box-shadow: 0 0 30px #e59b34;
            box-shadow: 0 0 30px #e59b34;
}

#c3{
    background-color: #786176;
    height: 20vh;
    width: 20vh;
    -webkit-box-shadow: 0 0 30px #786176;
    box-shadow: 0 0 30px #786176;
    top: 8%;
    left: 50%;
    -webkit-animation: upDown 1s infinite alternate ease-in-out 700ms;
    animation: upDown 1s infinite alternate ease-in-out 700ms;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

#c3:hover{
    background-color: #635061;
    -webkit-box-shadow: 0 0 30px #635061;
            box-shadow: 0 0 30px #635061;
}

#locations{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#row1,
#row2,
#row3{
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 15px;
}

.capsule{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.date,
.locationSpecific{
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 5px;
}

#c4{
    background-color: #486081;
    height: 30vh;
    width: 30vh;
    -webkit-box-shadow: 0 0 30px #486081;
    box-shadow: 0 0 30px #486081;
    top: 23%;
    left: 25%;
    -webkit-animation: upDown 1s infinite alternate ease-in-out 1100ms;
    animation: upDown 1s infinite alternate ease-in-out 1100ms;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    /*    background-color: #bcae9d;
        height: 24vh;
        width: 24vh;
        -webkit-box-shadow: 0 0 30px #bcae9d;
        box-shadow: 0 0 30px #bcae9d;
        top: 23%;
        left: 25%;
        -webkit-animation: upDown 1s infinite alternate ease-in-out 200ms;
        animation: upDown 1s infinite alternate ease-in-out 200ms;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;*/
}

#c4:hover{
    background-color: #405573;
    -webkit-box-shadow: 0 0 30px #405573;
            box-shadow: 0 0 30px #405573;
    /*    background-color: #cbc0b3;
        box-shadow: 0 0 30px #cbc0b3;*/
}

#c5{
    background-color: #bcae9d;
    height: 24vh;
    width: 24vh;
    -webkit-box-shadow: 0 0 30px #bcae9d;
    box-shadow: 0 0 30px #bcae9d;
    top: 60%;
    left: 30%;
    -webkit-animation: upDown 1s infinite alternate ease-in-out 200ms;
    animation: upDown 1s infinite alternate ease-in-out 200ms;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

#c5:hover{
    background-color: #cbc0b3;
    -webkit-box-shadow: 0 0 30px #cbc0b3;
            box-shadow: 0 0 30px #cbc0b3;
}

.city,
.country,
.currentLocation{
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}

.city,
.country{
    margin-right: 10px;
}

.country,
.currentLocation{
    margin-left: 10px;
}

@-webkit-keyframes upDown{
    0% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }

    100%{
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
    }
}

@keyframes upDown{
    0% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }

    100%{
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
    }
}


@media only screen and (max-width: 1690px){
    .textDiv{
        width: 90%;
    }
}

@media only screen and (max-width: 600px) {
    h3 {
        font-size: 13px;
    }
    
    #c1{
        height: 15vh;
        width: 15vh;
    }
    
    #c4{
        left: 19%;
    }
    #c5{
        left: 10%;
    }

    .textDiv{
        width: 90%;
    }

    #locations{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    
    ::-webkit-input-placeholder{
        font-size: 10px;
    }
    
    ::-moz-placeholder{
        font-size: 10px;
    }
    
    :-ms-input-placeholder{
        font-size: 10px;
    }
    
    ::-ms-input-placeholder{
        font-size: 10px;
    }
    
    ::placeholder{
        font-size: 10px;
    }
    
    #c4{
        height: 25vh;
        width: 25vh;
        top: 30%;
        left: 10%;
    }
    
    #c5{
        height: 20vh;
        width: 20vh;
        top: 70%;
        left: 5%;
    }
}