/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

/*font-family: 'Poppins', sans-serif;*/

h3, p{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: white;
    line-height: 30px;
}

h3{
    font-size: 25px;
}

p{
    font-size: 18px;
    color: #121212;
}

.landing{
    padding-right: 0px;
    padding-left: 0px;
    background-image: url(../images/circleSectionBG.png);
    background-color: #f1e0c1;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: -ms-grid;
    display: grid;
    place-items: center;
    position: relative;
}

.commonCharacteristics{
    display: block;
    border-radius: 50%;
    display: -ms-grid;
    display: grid;
    place-items: center;
    position: absolute;
    cursor: pointer;
}

img{
    position: absolute;
    bottom: 5%;
    right: 5%;
    opacity: .75;
    -webkit-transition: 500ms;
    -o-transition: 500ms;
    transition: 500ms;
}

img:hover{
    opacity: 1;
    -webkit-transform: translateX(-10px);
        -ms-transform: translateX(-10px);
            transform: translateX(-10px);
    cursor: pointer;
}

.textDiv{
    position: absolute;
    min-height: 200px;
    width: 300px;
    padding: 30px;
    background-color: rgba(232,203,151,0.75);
}

#c1{
    background-color: #836a5c;
    height: 12vh;
    width: 12vh;
    -webkit-box-shadow: 0 0 30px #836a5c;
            box-shadow: 0 0 30px #836a5c;
    /*    top: 64%;
        left: 60%;*/
    top: 65%;
    left: 61%;
    -webkit-animation: upDown 1s infinite alternate ease-in-out 450ms;
            animation: upDown 1s infinite alternate ease-in-out 450ms;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
}

#c2{
    background-color: #e9ab54;
    height: 16vh;
    width: 16vh;
    -webkit-box-shadow: 0 0 30px #e9ab54;
            box-shadow: 0 0 30px #e9ab54;
    /*    top: 32%;
        left: 63%;*/
    top: 32%;
    left: 70%;
    -webkit-animation: upDown 1s infinite alternate ease-in-out 900ms;
            animation: upDown 1s infinite alternate ease-in-out 900ms;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
}

#c3{
    background-color: #786176;
    height: 20vh;
    width: 20vh;
    -webkit-box-shadow: 0 0 30px #786176;
            box-shadow: 0 0 30px #786176;
    top: 8%;
    left: 50%;
    -webkit-animation: upDown 1s infinite alternate ease-in-out 700ms;
            animation: upDown 1s infinite alternate ease-in-out 700ms;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
}

#c4{
    background-color: #bcae9d;
    height: 24vh;
    width: 24vh;
    -webkit-box-shadow: 0 0 30px #bcae9d;
            box-shadow: 0 0 30px #bcae9d;
    /*    top: 23%;
        left: 29%;*/
    top: 23%;
    left: 25%;
    -webkit-animation: upDown 1s infinite alternate ease-in-out 200ms;
            animation: upDown 1s infinite alternate ease-in-out 200ms;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
}

#c5{
    background-color: #486081;
    height: 30vh;
    width: 30vh;
    -webkit-box-shadow: 0 0 30px #486081;
            box-shadow: 0 0 30px #486081;
    /*    top: 57%;
        left: 29%;*/
    top: 60%;
    left: 30%;
    -webkit-animation: upDown 1s infinite alternate ease-in-out 1100ms;
            animation: upDown 1s infinite alternate ease-in-out 1100ms;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
}

@-webkit-keyframes upDown{
    0% {
        -webkit-transform: translateY(-10px);
                transform: translateY(-10px);
    }

    100%{
        -webkit-transform: translateY(10px);
                transform: translateY(10px);
    }
}

@keyframes upDown{
    0% {
        -webkit-transform: translateY(-10px);
                transform: translateY(-10px);
    }

    100%{
        -webkit-transform: translateY(10px);
                transform: translateY(10px);
    }
}

@media only screen and (max-width: 600px) {
    h3 {
        font-size: 17px;
    }
    #c4{
        left: 19%;
    }
    #c5{
        left: 10%;
    }
}